// Colors
$primary: #0275D8;
$secondary: #2D2F34;
$black: #000000;
$white: #FFFFFF;
$white10: #F9F9F9;
$borderGray100: #ECEEEF;
$borderGray500: #D8D8D8;
$boxShadowBlack: 0px 4px 8px rgba(0, 0, 0, 0.15);
$hoverBoxShadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
$black500: #373A3C;
$orange500: #EC5F33;
$gray100: #DDDDDD;
$gray200: #CCCCCC;
$gray300: #999999;
$gray500: #818A91;
$gray600: #666666;
$green500: #1AB394;
$red500: #EC3333;

// Fonts
$fontFamilyDefault: 'Roboto', sans-serif;
$fontSizeSmall10: 10px;
$fontSizeSmall12: 12px;
$fontSizeSmall14: 14px;
$fontSizeNormal: 16px;
$fontSizeLarge18: 18px;
$fontSizeLarge20: 20px;
$fontSizeLarge24: 24px;
$fontSizeLarge36: 36px;